{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Python下载器</title>
    <base href="/">
  <link rel="stylesheet" href="{%static 'layui/css/layui.css' %}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Henri下载器</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
          {{ request.session.user_name }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">set 1</a></dd>
          <dd><a href="">set 2</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/logout/">Sign out</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">下载</a>
          <dl class="layui-nav-child">
              <dd><a href="/topicsearch">图片下载</a></dd>
            <dd><a href="/tomusicsearch">音乐下载</a></dd>
            <dd><a href="/tovideosearch">视频下载</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">管理</a>
          <dl class="layui-nav-child">
            <dd><a href="/picshow">已下载的图片</a></dd>
            <dd><a href="/musicshow">已下载的音乐</a></dd>
            <dd><a href="/videoshow">已下载的视频</a></dd>
          </dl>
        </li>
          <li class="layui-nav-item">
          <a href="javascript:;">离线下载</a>
          <dl class="layui-nav-child">
            <dd><a href="/todownloadurl">下载</a></dd>
          </dl>
        </li>
          </li>
          <li class="layui-nav-item">
          <a href="javascript:;">上传</a>
          <dl class="layui-nav-child">
            <dd><a href="/toupload">上传文件</a></dd>
          </dl>
        </li>
          </li>
          <li class="layui-nav-item">
          <a href="javascript:;">交流</a>
          <dl class="layui-nav-child">
            <dd><a href="/tocomments">用户交流</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:;"></a></li>
        <li class="layui-nav-item"><a href=""></a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body" style="margin-top: 20px">
    <!-- 内容主体区域 -->
      <span class="layui-breadcrumb" style="margin-top: 20px;margin-left: 20px">
            <a href="/index">首页</a>
              <a href="/index">交流社区</a>
      </span>
        <fieldset class="layui-elem-field" style="margin-top: 50px">
            <legend>功能介绍</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td >
                                <a class="x-a" href="/" target="_blank" style="color: #FF5722">用户发布分享评论</a>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <a class="x-a" href="/" target="_blank" style="color: #FF5722">用户可以在此页面互相共享文件链接</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
      <div class="layui-form-item">
              <label class="layui-form-label">邮箱</label>
              <div class="layui-input-block">
                  <input type="text" name="email" required lay-verify="required" placeholder="请输入邮箱地址" autocomplete="off "
                         id = "email" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">发布内容</label>
              <div class="layui-input-block">
                  <textarea name="comments" placeholder="请输入内容" class="layui-textarea" id="comments"></textarea>
              </div>
          </div>
          <div class="layui-form-item">
              <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo" id="comments_submit">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
          </div>

      <div class="all-music-table">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>发布内容</th>
                    <th>发布时间</th>
                </tr>
                </thead>

                <tbody id="commentstable">
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    底部固定区域
  </div>
</div>

<script src="{%static 'layui/layui.js' %}"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;

});
layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate;
        laydate.render({
            elem: '#date1', //指定元素
            type:'datetime', // 可选择：年、月、日、时、分、秒
            format: 'yyyy-MM-dd HH:mm:ss', //指定时间格式
            value: new Date(), // 指定值
        });
})
$.ajax({
    url:'/showcomments/',
    dataType: 'json',
    success:function (data){
        console.log(data);
        var list = JSON.parse(data.list)
        console.log(list)
        var html2 = ''
        $.each(list, function (i, item){
            html2 += '<tr>' +
                '<td>'+ item.fields.user + '</td>' +
                '<td>'+ item.fields.email + '</td>' +
                '<td>'+ item.fields.comments + '</td>' +
                '<td>'+ item.fields.date + '</td>' +

            '</tr>'
        })
        $("#commentstable").append(html2);
    }
})
$("#comments_submit").on("click", function (){
    $.ajax({
        url:'/getcomments/',
        dataType:'json',
        type: 'GET',
        data: {"email": $("#email").val(), "comments":$("#comments").val()},
        success:function (data){
            console.log(data);
            var html = '';
            html = '<tr>' +
                '<td>'+ data.user + '</td>' +
                '<td>'+ data.email + '</td>' +
                '<td>' + data.comments +'</td>'+
                '<td>' + data.time + '</td>'+
            '</tr>'

            $("#commentstable").append(html);
        }
    })
})

</script>
</body>
</html>
          